openapi: 3.0.0
info:
  version: 1.0.0
  title: DocuSeal Submissions Templates API
  description: DocuSeal API specs
  contact:
    name: DocuSeal
    email: admin@docuseal.com
    url: https://www.docuseal.com
servers:
- url: https://api.docuseal.com
  description: Global Server
- url: https://api.docuseal.eu
  description: EU Server
tags:
- name: Templates
  description: Templates represent reusable document signing forms with fields and signatures to be collected. It's possible to create unique template forms with fields and signatures using HTML or with tagged PDFs.
paths:
  /templates:
    get:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: List all templates
      description: The API endpoint provides the ability to retrieve a list of available document templates.
      operationId: getTemplates
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Filter templates based on the name partial match.
      - name: slug
        in: query
        required: false
        schema:
          type: string
        description: Filter templates by unique slug.
        example: opaKWh8WWTAcVG
      - name: external_id
        in: query
        required: false
        schema:
          type: string
        description: The unique application-specific identifier provided for the template via API or Embedded template form builder. It allows you to receive only templates with your specified external ID.
      - name: folder
        in: query
        required: false
        schema:
          type: string
        description: Filter templates by folder name.
      - name: archived
        in: query
        required: false
        schema:
          type: boolean
        description: Get only archived templates instead of active ones.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: The number of templates to return. Default value is 10. Maximum value is 100.
      - name: after
        in: query
        required: false
        schema:
          type: integer
        description: The unique identifier of the template to start the list from. It allows you to receive only templates with an ID greater than the specified value. Pass ID value from the `pagination.next` response to load the next batch of templates.
      - name: before
        in: query
        required: false
        schema:
          type: integer
        description: The unique identifier of the template to end the list with. It allows you to receive only templates with an ID less than the specified value.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - pagination
                properties:
                  data:
                    type: array
                    description: List of templates.
                    items:
                      type: object
                      required:
                      - id
                      - slug
                      - name
                      - preferences
                      - schema
                      - fields
                      - submitters
                      - author_id
                      - created_at
                      - updated_at
                      - source
                      - external_id
                      - folder_id
                      - folder_name
                      - author
                      - documents
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the document template.
                        slug:
                          type: string
                          description: Unique slug of the document template.
                        name:
                          type: string
                          description: The name of the template.
                        preferences:
                          type: object
                          description: Template preferences.
                        schema:
                          type: array
                          description: List of documents attached to the template.
                          items:
                            type: object
                            required:
                            - attachment_uuid
                            - name
                            properties:
                              attachment_uuid:
                                type: string
                                description: Unique identifier of attached document to the template.
                              name:
                                type: string
                                description: Name of the attached document to the template.
                        fields:
                          type: array
                          description: List of fields to be filled in the template.
                          items:
                            type: object
                            required:
                            - uuid
                            - submitter_uuid
                            - name
                            - type
                            - required
                            - areas
                            properties:
                              uuid:
                                type: string
                                description: Unique identifier of the field.
                              submitter_uuid:
                                type: string
                                description: Unique identifier of the submitter that filled the field.
                              name:
                                type: string
                                description: Field name.
                              type:
                                type: string
                                description: Type of the field (e.g., text, signature, date, initials).
                                enum:
                                - heading
                                - text
                                - signature
                                - initials
                                - date
                                - number
                                - image
                                - checkbox
                                - multiple
                                - file
                                - radio
                                - select
                                - cells
                                - stamp
                                - payment
                                - phone
                                - verification
                                - kba
                                - strikethrough
                              required:
                                type: boolean
                                description: Indicates if the field is required.
                              preferences:
                                type: object
                                description: Field display preferences.
                                properties:
                                  font_size:
                                    type: integer
                                    description: Font size of the field value in pixels.
                                  font_type:
                                    type: string
                                    description: Font type of the field value.
                                  font:
                                    type: string
                                    description: Font family of the field value.
                                  color:
                                    type: string
                                    description: Font color of the field value.
                                  background:
                                    type: string
                                    description: Field box background color.
                                  align:
                                    type: string
                                    description: Horizontal alignment of the field text value.
                                  valign:
                                    type: string
                                    description: Vertical alignment of the field text value.
                                  format:
                                    type: string
                                    description: The data format for different field types.
                                  price:
                                    type: number
                                    description: Price value of the payment field. Only for payment fields.
                                  currency:
                                    type: string
                                    description: Currency value of the payment field. Only for payment fields.
                                  mask:
                                    type: boolean
                                    description: Indicates if the field is masked on the document.
                                  reasons:
                                    description: An array of signature reasons to choose from.
                                    type: array
                                    items:
                                      type: string
                              areas:
                                type: array
                                description: List of areas where the field is located in the document.
                                items:
                                  type: object
                                  required:
                                  - x
                                  - y
                                  - w
                                  - h
                                  - attachment_uuid
                                  - page
                                  properties:
                                    x:
                                      type: number
                                      description: X coordinate of the area where the field is located in the document.
                                    y:
                                      type: number
                                      description: Y coordinate of the area where the field is located in the document.
                                    w:
                                      type: number
                                      description: Width of the area where the field is located in the document.
                                    h:
                                      type: number
                                      description: Height of the area where the field is located in the document.
                                    attachment_uuid:
                                      type: string
                                      description: Unique identifier of the attached document where the field is located.
                                    page:
                                      type: integer
                                      description: Page number of the attached document where the field is located.
                        submitters:
                          type: array
                          description: The list of submitters for the template.
                          items:
                            type: object
                            required:
                            - name
                            - uuid
                            properties:
                              name:
                                type: string
                                description: The name of the submitter.
                              uuid:
                                type: string
                                description: Unique identifier of the submitter.
                        author_id:
                          type: integer
                          description: Unique identifier of the author of the template.
                        archived_at:
                          type: string
                          nullable: true
                          description: Date and time when the template was archived.
                        created_at:
                          type: string
                          description: The date and time when the template was created.
                        updated_at:
                          type: string
                          description: The date and time when the template was last updated.
                        source:
                          type: string
                          description: Source of the template.
                          enum:
                          - native
                          - api
                          - embed
                        external_id:
                          type: string
                          nullable: true
                          description: Your application-specific unique string key to identify this template within your app.
                        folder_id:
                          type: integer
                          description: Unique identifier of the folder where the template is located.
                        folder_name:
                          type: string
                          description: Folder name where the template is located.
                        shared_link:
                          type: boolean
                          description: Indicates if the template is accessible by link.
                        author:
                          type: object
                          required:
                          - id
                          - first_name
                          - last_name
                          - email
                          properties:
                            id:
                              type: integer
                              description: Unique identifier of the author.
                            first_name:
                              type: string
                              description: First name of the author.
                            last_name:
                              type: string
                              description: Last name of the author.
                            email:
                              type: string
                              description: Author email.
                        documents:
                          type: array
                          description: List of documents attached to the template.
                          items:
                            type: object
                            required:
                            - id
                            - uuid
                            - url
                            - preview_image_url
                            - filename
                            properties:
                              id:
                                type: integer
                                description: Unique identifier of the document.
                              uuid:
                                type: string
                                description: Unique identifier of the document.
                              url:
                                type: string
                                description: URL of the document.
                              preview_image_url:
                                type: string
                                description: Document preview image URL.
                              filename:
                                type: string
                                description: Document filename.
                  pagination:
                    type: object
                    required:
                    - count
                    - next
                    - prev
                    properties:
                      count:
                        type: integer
                        description: Templates count.
                      next:
                        type: integer
                        nullable: true
                        description: The ID of the template after which the next page starts.
                      prev:
                        type: integer
                        nullable: true
                        description: The ID of the template before which the previous page ends.
              example:
                data:
                - id: 1
                  slug: iRgjDX7WDK6BRo
                  name: Example Template
                  preferences: {}
                  schema:
                  - attachment_uuid: d94e615f-76e3-46d5-8f98-36bdacb8664a
                    name: example-document
                  fields:
                  - uuid: 594bdf04-d941-4ca6-aa73-93e61d625c02
                    submitter_uuid: 0954d146-db8c-4772-aafe-2effc7c0e0c0
                    name: Full Name
                    type: text
                    required: true
                    preferences: {}
                    areas:
                    - x: 0.2638888888888889
                      y: 0.168958742632613
                      w: 0.325
                      h: 0.04616895874263263
                      attachment_uuid: d94e615f-76e3-46d5-8f98-36bdacb8664a
                      page: 0
                  submitters:
                  - name: First Party
                    uuid: 0954d146-db8c-4772-aafe-2effc7c0e0c0
                  author_id: 1
                  archived_at: null
                  created_at: '2023-12-14T15:21:57.375Z'
                  updated_at: '2023-12-14T15:22:55.094Z'
                  source: native
                  folder_id: 1
                  folder_name: Default
                  external_id: c248ffba-ef81-48b7-8e17-e3cecda1c1c5
                  shared_link: true
                  author:
                    id: 1
                    first_name: John
                    last_name: Doe
                    email: john.doe@example.com
                  documents:
                  - id: 5
                    uuid: d94e615f-76e3-46d5-8f98-36bdacb8664a
                    url: https://docuseal.com/file/hash/sample-document.pdf
                    preview_image_url: https://docuseal.com/file/hash/0.jpg
                    filename: example-document.pdf
                pagination:
                  count: 1
                  next: 1
                  prev: 2
  /templates/{id}:
    get:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Get a template
      description: The API endpoint provides the functionality to retrieve information about a document template.
      operationId: getTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the document template.
        example: 1000001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - name
                - preferences
                - schema
                - fields
                - submitters
                - author_id
                - archived_at
                - created_at
                - updated_at
                - source
                - external_id
                - folder_id
                - folder_name
                - author
                - documents
                properties:
                  id:
                    type: integer
                    description: Unique identifier of the document template.
                  slug:
                    type: string
                    description: Unique slug of the document template.
                  name:
                    type: string
                    description: The name of the template.
                  preferences:
                    type: object
                    description: Template preferences.
                  schema:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - attachment_uuid
                      - name
                      properties:
                        attachment_uuid:
                          type: string
                          description: Unique identifier of attached document to the template.
                        name:
                          type: string
                          description: Name of the attached document to the template.
                  fields:
                    type: array
                    description: List of fields to be filled in the template.
                    items:
                      type: object
                      required:
                      - uuid
                      - submitter_uuid
                      - name
                      - type
                      - required
                      - areas
                      properties:
                        uuid:
                          type: string
                          description: Unique identifier of the field.
                        submitter_uuid:
                          type: string
                          description: Unique identifier of the submitter that filled the field.
                        name:
                          type: string
                          description: Field name.
                        type:
                          type: string
                          description: Type of the field (e.g., text, signature, date, initials).
                          enum:
                          - heading
                          - text
                          - signature
                          - initials
                          - date
                          - number
                          - image
                          - checkbox
                          - multiple
                          - file
                          - radio
                          - select
                          - cells
                          - stamp
                          - payment
                          - phone
                          - verification
                          - kba
                          - strikethrough
                        required:
                          type: boolean
                          description: Indicates if the field is required.
                        preferences:
                          type: object
                          description: Field display preferences.
                          properties:
                            font_size:
                              type: integer
                              description: Font size of the field value in pixels.
                            font_type:
                              type: string
                              description: Font type of the field value.
                            font:
                              type: string
                              description: Font family of the field value.
                            color:
                              type: string
                              description: Font color of the field value.
                            background:
                              type: string
                              description: Field box background color.
                            align:
                              type: string
                              description: Horizontal alignment of the field text value.
                            valign:
                              type: string
                              description: Vertical alignment of the field text value.
                            format:
                              type: string
                              description: The data format for different field types.
                            price:
                              type: number
                              description: Price value of the payment field. Only for payment fields.
                            currency:
                              type: string
                              description: Currency value of the payment field. Only for payment fields.
                            mask:
                              type: boolean
                              description: Indicates if the field is masked on the document.
                            reasons:
                              description: An array of signature reasons to choose from.
                              type: array
                              items:
                                type: string
                        areas:
                          type: array
                          description: List of areas where the field is located in the document.
                          items:
                            type: object
                            required:
                            - x
                            - y
                            - w
                            - h
                            - attachment_uuid
                            - page
                            properties:
                              x:
                                type: number
                                description: X coordinate of the area where the field is located in the document.
                              y:
                                type: number
                                description: Y coordinate of the area where the field is located in the document.
                              w:
                                type: number
                                description: Width of the area where the field is located in the document.
                              h:
                                type: number
                                description: Height of the area where the field is located in the document.
                              attachment_uuid:
                                type: string
                                description: Unique identifier of the attached document where the field is located.
                              page:
                                type: integer
                                description: Page number of the attached document where the field is located.
                  submitters:
                    type: array
                    description: The list of submitters for the template.
                    items:
                      type: object
                      required:
                      - name
                      - uuid
                      properties:
                        name:
                          type: string
                          description: The name of the submitter.
                        uuid:
                          type: string
                          description: Unique identifier of the submitter.
                  author_id:
                    type: integer
                    description: Unique identifier of the author of the template.
                  archived_at:
                    type: string
                    nullable: true
                    description: Date and time when the template was archived.
                  created_at:
                    type: string
                    description: The date and time when the template was created.
                  updated_at:
                    type: string
                    description: The date and time when the template was last updated.
                  source:
                    type: string
                    description: Source of the template.
                    enum:
                    - native
                    - api
                    - embed
                  external_id:
                    type: string
                    nullable: true
                    description: Your application-specific unique string key to identify this template within your app.
                  folder_id:
                    type: integer
                    description: Unique identifier of the folder where the template is located.
                  folder_name:
                    type: string
                    description: Folder name where the template is located.
                  shared_link:
                    type: boolean
                    description: Indicates if the template is accessible by link.
                  author:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - email
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the author.
                      first_name:
                        type: string
                        description: First name of the author.
                      last_name:
                        type: string
                        description: Last name of the author.
                      email:
                        type: string
                        description: Author email.
                  documents:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - id
                      - uuid
                      - url
                      - preview_image_url
                      - filename
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the document.
                        uuid:
                          type: string
                          description: Unique identifier of the document.
                        url:
                          type: string
                          description: URL of the document.
                        preview_image_url:
                          type: string
                          description: Document preview image URL.
                        filename:
                          type: string
                          description: Document filename.
              example:
                id: 1
                slug: iRgjDX7WDK6BRo
                name: Example Template
                preferences: {}
                schema:
                - attachment_uuid: d94e615f-76e3-46d5-8f98-36bdacb8664a
                  name: example-document
                fields:
                - uuid: 594bdf04-d941-4ca6-aa73-93e61d625c02
                  submitter_uuid: 0954d146-db8c-4772-aafe-2effc7c0e0c0
                  name: Full Name
                  type: text
                  required: true
                  preferences: {}
                  areas:
                  - x: 0.2638888888888889
                    y: 0.168958742632613
                    w: 0.325
                    h: 0.04616895874263263
                    attachment_uuid: d94e615f-76e3-46d5-8f98-36bdacb8664a
                    page: 0
                submitters:
                - name: First Party
                  uuid: 0954d146-db8c-4772-aafe-2effc7c0e0c0
                author_id: 1
                archived_at: null
                created_at: '2023-12-14T15:21:57.375Z'
                updated_at: '2023-12-14T15:22:55.094Z'
                source: native
                folder_id: 1
                folder_name: Default
                external_id: c248ffba-ef81-48b7-8e17-e3cecda1c1c5
                shared_link: true
                author:
                  id: 1
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                documents:
                - id: 5
                  uuid: d94e615f-76e3-46d5-8f98-36bdacb8664a
                  url: https://docuseal.com/file/hash/sample-document.pdf
                  preview_image_url: https://docuseal.com/file/hash/0.jpg
                  filename: example-document.pdf
    delete:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Archive a template
      description: The API endpoint allows you to archive a document template.
      operationId: archiveTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the document template.
        example: 1000001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - archived_at
                properties:
                  id:
                    type: integer
                    description: Template unique ID number.
                  archived_at:
                    type: string
                    nullable: true
                    description: Date and time when the template was archived.
              example:
                id: 1
                archived_at: '2023-12-14T15:50:21.799Z'
    put:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Update a template
      description: The API endpoint provides the functionality to move a document template to a different folder and update the name of the template.
      operationId: updateTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the document template.
        example: 1000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the template.
                  example: New Document Name
                folder_name:
                  type: string
                  description: The folder's name to which the template should be moved.
                  example: New Folder
                roles:
                  type: array
                  description: An array of submitter role names to update the template with.
                  items:
                    type: string
                  example:
                  - Agent
                  - Customer
                archived:
                  type: boolean
                  description: Set `false` to unarchive template.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - updated_at
                properties:
                  id:
                    type: integer
                    description: Template unique ID number.
                  updated_at:
                    type: string
                    description: Date and time when the template was last updated.
              example:
                id: 1
                updated_at: '2023-12-14T15:50:21.799Z'
  /templates/{id}/documents:
    put:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Update template documents
      description: The API endpoint allows you to add, remove or replace documents in the template with provided PDF/DOCX file or HTML content.
      operationId: addDocumentToTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the document template.
        example: 1000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                documents:
                  type: array
                  description: The list of documents to add or replace in the template.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Document name. Random uuid will be assigned when not specified.
                        example: Test Template
                      file:
                        type: string
                        format: base64
                        description: Base64-encoded content of the PDF or DOCX file or downloadable file URL. Leave it empty if you create a new document using HTML param.
                      html:
                        type: string
                        description: HTML template with field tags. Leave it empty if you add a document via PDF or DOCX base64 encoded file param or URL.
                      position:
                        type: integer
                        description: Position of the document. By default will be added as the last document in the template.
                        example: 0
                      replace:
                        type: boolean
                        default: false
                        description: Set to `true` to replace existing document with a new file at `position`. Existing document fields will be transferred to the new document if it doesn't contain any fields.
                      remove:
                        type: boolean
                        default: false
                        description: Set to `true` to remove existing document at given `position` or with given `name`.
                merge:
                  type: boolean
                  default: false
                  description: Set to `true` to merge all existing and new documents into a single PDF document in the template.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - name
                - preferences
                - schema
                - fields
                - submitters
                - author_id
                - archived_at
                - created_at
                - updated_at
                - source
                - external_id
                - folder_id
                - folder_name
                - author
                - documents
                properties:
                  id:
                    type: integer
                    description: Unique identifier of the document template.
                  slug:
                    type: string
                    description: Unique slug of the document template.
                  name:
                    type: string
                    description: The name of the template.
                  preferences:
                    type: object
                    description: Template preferences.
                  schema:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - attachment_uuid
                      - name
                      properties:
                        attachment_uuid:
                          type: string
                          description: Unique identifier of attached document to the template.
                        name:
                          type: string
                          description: Name of the attached document to the template.
                  fields:
                    type: array
                    description: List of fields to be filled in the template.
                    items:
                      type: object
                      required:
                      - uuid
                      - submitter_uuid
                      - name
                      - type
                      - required
                      - areas
                      properties:
                        uuid:
                          type: string
                          description: Unique identifier of the field.
                        submitter_uuid:
                          type: string
                          description: Unique identifier of the submitter that filled the field.
                        name:
                          type: string
                          description: Field name.
                        type:
                          type: string
                          description: Type of the field (e.g., text, signature, date, initials).
                          enum:
                          - heading
                          - text
                          - signature
                          - initials
                          - date
                          - number
                          - image
                          - checkbox
                          - multiple
                          - file
                          - radio
                          - select
                          - cells
                          - stamp
                          - payment
                          - phone
                          - verification
                          - kba
                          - strikethrough
                        required:
                          type: boolean
                          description: Indicates if the field is required.
                        preferences:
                          type: object
                          description: Field display preferences.
                          properties:
                            font_size:
                              type: integer
                              description: Font size of the field value in pixels.
                            font_type:
                              type: string
                              description: Font type of the field value.
                            font:
                              type: string
                              description: Font family of the field value.
                            color:
                              type: string
                              description: Font color of the field value.
                            background:
                              type: string
                              description: Field box background color.
                            align:
                              type: string
                              description: Horizontal alignment of the field text value.
                            valign:
                              type: string
                              description: Vertical alignment of the field text value.
                            format:
                              type: string
                              description: The data format for different field types.
                            price:
                              type: number
                              description: Price value of the payment field. Only for payment fields.
                            currency:
                              type: string
                              description: Currency value of the payment field. Only for payment fields.
                            mask:
                              type: boolean
                              description: Indicates if the field is masked on the document.
                            reasons:
                              description: An array of signature reasons to choose from.
                              type: array
                              items:
                                type: string
                        areas:
                          type: array
                          description: List of areas where the field is located in the document.
                          items:
                            type: object
                            required:
                            - x
                            - y
                            - w
                            - h
                            - attachment_uuid
                            - page
                            properties:
                              x:
                                type: number
                                description: X coordinate of the area where the field is located in the document.
                              y:
                                type: number
                                description: Y coordinate of the area where the field is located in the document.
                              w:
                                type: number
                                description: Width of the area where the field is located in the document.
                              h:
                                type: number
                                description: Height of the area where the field is located in the document.
                              attachment_uuid:
                                type: string
                                description: Unique identifier of the attached document where the field is located.
                              page:
                                type: integer
                                description: Page number of the attached document where the field is located.
                  submitters:
                    type: array
                    description: The list of submitters for the template.
                    items:
                      type: object
                      required:
                      - name
                      - uuid
                      properties:
                        name:
                          type: string
                          description: The name of the submitter.
                        uuid:
                          type: string
                          description: Unique identifier of the submitter.
                  author_id:
                    type: integer
                    description: Unique identifier of the author of the template.
                  archived_at:
                    type: string
                    nullable: true
                    description: Date and time when the template was archived.
                  created_at:
                    type: string
                    description: The date and time when the template was created.
                  updated_at:
                    type: string
                    description: The date and time when the template was last updated.
                  source:
                    type: string
                    description: Source of the template.
                    enum:
                    - native
                    - api
                    - embed
                  external_id:
                    type: string
                    nullable: true
                    description: Your application-specific unique string key to identify this template within your app.
                  folder_id:
                    type: integer
                    description: Unique identifier of the folder where the template is located.
                  folder_name:
                    type: string
                    description: Folder name where the template is located.
                  shared_link:
                    type: boolean
                    description: Indicates if the template is accessible by link.
                  author:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - email
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the author.
                      first_name:
                        type: string
                        description: First name of the author.
                      last_name:
                        type: string
                        description: Last name of the author.
                      email:
                        type: string
                        description: Author email.
                  documents:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - id
                      - uuid
                      - url
                      - preview_image_url
                      - filename
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the document.
                        uuid:
                          type: string
                          description: Unique identifier of the document.
                        url:
                          type: string
                          description: URL of the document.
                        preview_image_url:
                          type: string
                          description: Document preview image URL.
                        filename:
                          type: string
                          description: Document filename.
              example:
                id: 3
                slug: ZQpF222rFBv71q
                name: Demo Template
                schema:
                - name: Demo Template
                  attachment_uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                fields:
                - name: Name
                  required: false
                  type: text
                  uuid: a06c49f6-4b20-4442-ac7f-c1040d2cf1ac
                  submitter_uuid: 93ba628c-5913-4456-a1e9-1a81ad7444b3
                  areas:
                  - page: 0
                    attachment_uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                    x: 0.403158189124654
                    y: 0.04211750189825361
                    w: 0.100684625476058
                    h: 0.01423690205011389
                submitters:
                - name: Submitter
                  uuid: 93ba628c-5913-4456-a1e9-1a81ad7444b3
                author_id: 1
                archived_at: null
                created_at: '2023-12-14T15:50:21.799Z'
                updated_at: '2023-12-14T15:50:21.799Z'
                source: api
                folder_id: 1
                folder_name: Default
                external_id: f0b4714f-e44b-4993-905b-68b4451eef8c
                author:
                  id: 1
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                documents:
                - id: 3
                  uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                  url: https://docuseal.com/file/hash/Test%20Template.pdf
  /templates/{id}/clone:
    post:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Clone a template
      description: The API endpoint allows you to clone an existing template into a new template.
      operationId: cloneTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the document template.
        example: 1000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Template name. Existing name with (Clone) suffix will be used if not specified.
                  example: Cloned Template
                folder_name:
                  type: string
                  description: The folder's name to which the template should be cloned.
                external_id:
                  type: string
                  description: Your application-specific unique string key to identify this template within your app.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - name
                - preferences
                - schema
                - fields
                - submitters
                - author_id
                - archived_at
                - created_at
                - updated_at
                - source
                - external_id
                - folder_id
                - folder_name
                - author
                - documents
                properties:
                  id:
                    type: integer
                    description: Unique identifier of the document template.
                  slug:
                    type: string
                    description: Unique slug of the document template.
                  name:
                    type: string
                    description: The name of the template.
                  preferences:
                    type: object
                    description: Template preferences.
                  schema:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - attachment_uuid
                      - name
                      properties:
                        attachment_uuid:
                          type: string
                          description: Unique identifier of attached document to the template.
                        name:
                          type: string
                          description: Name of the attached document to the template.
                  fields:
                    type: array
                    description: List of fields to be filled in the template.
                    items:
                      type: object
                      required:
                      - uuid
                      - submitter_uuid
                      - name
                      - type
                      - required
                      - areas
                      properties:
                        uuid:
                          type: string
                          description: Unique identifier of the field.
                        submitter_uuid:
                          type: string
                          description: Unique identifier of the submitter that filled the field.
                        name:
                          type: string
                          description: Field name.
                        type:
                          type: string
                          description: Type of the field (e.g., text, signature, date, initials).
                          enum:
                          - heading
                          - text
                          - signature
                          - initials
                          - date
                          - number
                          - image
                          - checkbox
                          - multiple
                          - file
                          - radio
                          - select
                          - cells
                          - stamp
                          - payment
                          - phone
                          - verification
                          - kba
                          - strikethrough
                        required:
                          type: boolean
                          description: Indicates if the field is required.
                        preferences:
                          type: object
                          description: Field display preferences.
                          properties:
                            font_size:
                              type: integer
                              description: Font size of the field value in pixels.
                            font_type:
                              type: string
                              description: Font type of the field value.
                            font:
                              type: string
                              description: Font family of the field value.
                            color:
                              type: string
                              description: Font color of the field value.
                            background:
                              type: string
                              description: Field box background color.
                            align:
                              type: string
                              description: Horizontal alignment of the field text value.
                            valign:
                              type: string
                              description: Vertical alignment of the field text value.
                            format:
                              type: string
                              description: The data format for different field types.
                            price:
                              type: number
                              description: Price value of the payment field. Only for payment fields.
                            currency:
                              type: string
                              description: Currency value of the payment field. Only for payment fields.
                            mask:
                              type: boolean
                              description: Indicates if the field is masked on the document.
                            reasons:
                              description: An array of signature reasons to choose from.
                              type: array
                              items:
                                type: string
                        areas:
                          type: array
                          description: List of areas where the field is located in the document.
                          items:
                            type: object
                            required:
                            - x
                            - y
                            - w
                            - h
                            - attachment_uuid
                            - page
                            properties:
                              x:
                                type: number
                                description: X coordinate of the area where the field is located in the document.
                              y:
                                type: number
                                description: Y coordinate of the area where the field is located in the document.
                              w:
                                type: number
                                description: Width of the area where the field is located in the document.
                              h:
                                type: number
                                description: Height of the area where the field is located in the document.
                              attachment_uuid:
                                type: string
                                description: Unique identifier of the attached document where the field is located.
                              page:
                                type: integer
                                description: Page number of the attached document where the field is located.
                  submitters:
                    type: array
                    description: The list of submitters for the template.
                    items:
                      type: object
                      required:
                      - name
                      - uuid
                      properties:
                        name:
                          type: string
                          description: The name of the submitter.
                        uuid:
                          type: string
                          description: Unique identifier of the submitter.
                  author_id:
                    type: integer
                    description: Unique identifier of the author of the template.
                  archived_at:
                    type: string
                    nullable: true
                    description: Date and time when the template was archived.
                  created_at:
                    type: string
                    description: The date and time when the template was created.
                  updated_at:
                    type: string
                    description: The date and time when the template was last updated.
                  source:
                    type: string
                    description: Source of the template.
                    enum:
                    - native
                    - api
                    - embed
                  external_id:
                    type: string
                    nullable: true
                    description: Your application-specific unique string key to identify this template within your app.
                  folder_id:
                    type: integer
                    description: Unique identifier of the folder where the template is located.
                  folder_name:
                    type: string
                    description: Folder name where the template is located.
                  shared_link:
                    type: boolean
                    description: Indicates if the template is accessible by link.
                  author:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - email
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the author.
                      first_name:
                        type: string
                        description: First name of the author.
                      last_name:
                        type: string
                        description: Last name of the author.
                      email:
                        type: string
                        description: Author email.
                  documents:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - id
                      - uuid
                      - url
                      - preview_image_url
                      - filename
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the document.
                        uuid:
                          type: string
                          description: Unique identifier of the document.
                        url:
                          type: string
                          description: URL of the document.
                        preview_image_url:
                          type: string
                          description: Document preview image URL.
                        filename:
                          type: string
                          description: Document filename.
              example:
                id: 6
                slug: Xc7opTqwwV9P7x
                name: Cloned Template
                schema:
                - attachment_uuid: 68aa0716-61f0-4535-9ba4-6c00f835b080
                  name: sample-document
                fields:
                - uuid: 93c7065b-1b19-4551-b67b-9946bf1c11c9
                  submitter_uuid: ad128012-756d-4d17-b728-6f6b1d482bb5
                  name: Name
                  type: text
                  required: true
                  areas:
                  - page: 0
                    attachment_uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                    x: 0.403158189124654
                    y: 0.04211750189825361
                    w: 0.100684625476058
                    h: 0.01423690205011389
                submitters:
                - name: First Party
                  uuid: ad128012-756d-4d17-b728-6f6b1d482bb5
                author_id: 1
                archived_at: null
                created_at: '2023-12-14T15:50:21.799Z'
                updated_at: '2023-12-14T15:50:21.799Z'
                source: api
                folder_id: 2
                folder_name: Default
                external_id: null
                shared_link: true
                author:
                  id: 1
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                documents:
                - id: 9
                  uuid: ded62277-9705-4fac-b5dc-58325d4102eb
                  url: https://docuseal.com/file/hash/sample-document.pdf
                  filename: sample-document.pdf
  /templates/html:
    post:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Create a template from HTML
      description: The API endpoint provides the functionality to seamlessly generate a PDF document template by utilizing the provided HTML content while incorporating pre-defined fields.<br><b>Related Guides</b><br><a href="https://www.docuseal.com/guides/create-pdf-document-fillable-form-with-html-api" class="link">Create PDF document fillable form with HTML</a>
      operationId: createTemplateFromHtml
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - html
              properties:
                html:
                  type: string
                  description: HTML template with field tags.
                  example: "<p>Lorem Ipsum is simply dummy text of the\n<text-field\n  name=\"Industry\"\n  role=\"First Party\"\n  required=\"false\"\n  style=\"width: 80px; height: 16px; display: inline-block; margin-bottom: -4px\">\n</text-field>\nand typesetting industry</p>\n"
                html_header:
                  type: string
                  description: HTML template of the header to be displayed on every page.
                html_footer:
                  type: string
                  description: HTML template of the footer to be displayed on every page.
                name:
                  type: string
                  description: Template name. Random uuid will be assigned when not specified.
                  example: Test Template
                size:
                  type: string
                  default: Letter
                  description: Page size. Letter 8.5 x 11 will be assigned when not specified.
                  enum:
                  - Letter
                  - Legal
                  - Tabloid
                  - Ledger
                  - A0
                  - A1
                  - A2
                  - A3
                  - A4
                  - A5
                  - A6
                  example: A4
                external_id:
                  type: string
                  description: Your application-specific unique string key to identify this template within your app. Existing template with specified `external_id` will be updated with a new HTML.
                  example: 714d974e-83d8-11ee-b962-0242ac120002
                folder_name:
                  type: string
                  description: The folder's name in which the template should be created.
                shared_link:
                  type: boolean
                  description: Set to `true` to make the template available via a shared link. This will allow anyone with the link to create a submission from this template.
                  default: true
                documents:
                  type: array
                  description: The list of documents built from HTML. Can be used to create a template with multiple documents. Leave `documents` param empty when using a top-level `html` param for a template with a single document.
                  items:
                    type: object
                    required:
                    - html
                    properties:
                      html:
                        type: string
                        description: HTML template with field tags.
                        example: "<p>Lorem Ipsum is simply dummy text of the\n<text-field\n  name=\"Industry\"\n  role=\"First Party\"\n  required=\"false\"\n  style=\"width: 80px; height: 16px; display: inline-block; margin-bottom: -4px\">\n</text-field>\nand typesetting industry</p>\n"
                      name:
                        type: string
                        description: Document name. Random uuid will be assigned when not specified.
                        example: Test Document
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - name
                - preferences
                - schema
                - fields
                - submitters
                - author_id
                - archived_at
                - created_at
                - updated_at
                - source
                - external_id
                - folder_id
                - folder_name
                - author
                - documents
                properties:
                  id:
                    type: integer
                    description: Unique identifier of the document template.
                  slug:
                    type: string
                    description: Unique slug of the document template.
                  name:
                    type: string
                    description: The name of the template.
                  preferences:
                    type: object
                    description: Template preferences.
                  schema:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - attachment_uuid
                      - name
                      properties:
                        attachment_uuid:
                          type: string
                          description: Unique identifier of attached document to the template.
                        name:
                          type: string
                          description: Name of the attached document to the template.
                  fields:
                    type: array
                    description: List of fields to be filled in the template.
                    items:
                      type: object
                      required:
                      - uuid
                      - submitter_uuid
                      - name
                      - type
                      - required
                      - areas
                      properties:
                        uuid:
                          type: string
                          description: Unique identifier of the field.
                        submitter_uuid:
                          type: string
                          description: Unique identifier of the submitter that filled the field.
                        name:
                          type: string
                          description: Field name.
                        type:
                          type: string
                          description: Type of the field (e.g., text, signature, date, initials).
                          enum:
                          - heading
                          - text
                          - signature
                          - initials
                          - date
                          - number
                          - image
                          - checkbox
                          - multiple
                          - file
                          - radio
                          - select
                          - cells
                          - stamp
                          - payment
                          - phone
                          - verification
                          - kba
                          - strikethrough
                        required:
                          type: boolean
                          description: Indicates if the field is required.
                        preferences:
                          type: object
                          description: Field display preferences.
                          properties:
                            font_size:
                              type: integer
                              description: Font size of the field value in pixels.
                            font_type:
                              type: string
                              description: Font type of the field value.
                            font:
                              type: string
                              description: Font family of the field value.
                            color:
                              type: string
                              description: Font color of the field value.
                            background:
                              type: string
                              description: Field box background color.
                            align:
                              type: string
                              description: Horizontal alignment of the field text value.
                            valign:
                              type: string
                              description: Vertical alignment of the field text value.
                            format:
                              type: string
                              description: The data format for different field types.
                            price:
                              type: number
                              description: Price value of the payment field. Only for payment fields.
                            currency:
                              type: string
                              description: Currency value of the payment field. Only for payment fields.
                            mask:
                              type: boolean
                              description: Indicates if the field is masked on the document.
                            reasons:
                              description: An array of signature reasons to choose from.
                              type: array
                              items:
                                type: string
                        areas:
                          type: array
                          description: List of areas where the field is located in the document.
                          items:
                            type: object
                            required:
                            - x
                            - y
                            - w
                            - h
                            - attachment_uuid
                            - page
                            properties:
                              x:
                                type: number
                                description: X coordinate of the area where the field is located in the document.
                              y:
                                type: number
                                description: Y coordinate of the area where the field is located in the document.
                              w:
                                type: number
                                description: Width of the area where the field is located in the document.
                              h:
                                type: number
                                description: Height of the area where the field is located in the document.
                              attachment_uuid:
                                type: string
                                description: Unique identifier of the attached document where the field is located.
                              page:
                                type: integer
                                description: Page number of the attached document where the field is located.
                  submitters:
                    type: array
                    description: The list of submitters for the template.
                    items:
                      type: object
                      required:
                      - name
                      - uuid
                      properties:
                        name:
                          type: string
                          description: The name of the submitter.
                        uuid:
                          type: string
                          description: Unique identifier of the submitter.
                  author_id:
                    type: integer
                    description: Unique identifier of the author of the template.
                  archived_at:
                    type: string
                    nullable: true
                    description: Date and time when the template was archived.
                  created_at:
                    type: string
                    description: The date and time when the template was created.
                  updated_at:
                    type: string
                    description: The date and time when the template was last updated.
                  source:
                    type: string
                    description: Source of the template.
                    enum:
                    - native
                    - api
                    - embed
                  external_id:
                    type: string
                    nullable: true
                    description: Your application-specific unique string key to identify this template within your app.
                  folder_id:
                    type: integer
                    description: Unique identifier of the folder where the template is located.
                  folder_name:
                    type: string
                    description: Folder name where the template is located.
                  shared_link:
                    type: boolean
                    description: Indicates if the template is accessible by link.
                  author:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - email
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the author.
                      first_name:
                        type: string
                        description: First name of the author.
                      last_name:
                        type: string
                        description: Last name of the author.
                      email:
                        type: string
                        description: Author email.
                  documents:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - id
                      - uuid
                      - url
                      - preview_image_url
                      - filename
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of the document.
                        uuid:
                          type: string
                          description: Unique identifier of the document.
                        url:
                          type: string
                          description: URL of the document.
                        preview_image_url:
                          type: string
                          description: Document preview image URL.
                        filename:
                          type: string
                          description: Document filename.
              example:
                id: 3
                slug: ZQpF222rFBv71q
                name: Demo Template
                schema:
                - name: Demo Template
                  attachment_uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                fields:
                - name: Name
                  required: false
                  type: text
                  uuid: a06c49f6-4b20-4442-ac7f-c1040d2cf1ac
                  submitter_uuid: 93ba628c-5913-4456-a1e9-1a81ad7444b3
                  areas:
                  - page: 0
                    attachment_uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                    x: 0.403158189124654
                    y: 0.04211750189825361
                    w: 0.100684625476058
                    h: 0.01423690205011389
                submitters:
                - name: Submitter
                  uuid: 93ba628c-5913-4456-a1e9-1a81ad7444b3
                author_id: 1
                archived_at: null
                created_at: '2023-12-14T15:50:21.799Z'
                updated_at: '2023-12-14T15:50:21.799Z'
                source: api
                folder_id: 1
                folder_name: Default
                external_id: f0b4714f-e44b-4993-905b-68b4451eef8c
                shared_link: true
                author:
                  id: 1
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                documents:
                - id: 3
                  uuid: 09a8bc73-a7a9-4fd9-8173-95752bdf0af5
                  url: https://docuseal.com/file/hash/Test%20Template.pdf
  /templates/docx:
    post:
      security:
      - AuthToken: []
      tags:
      - Templates
      summary: Create a template from Word DOCX
      description: 'The API endpoint provides the functionality to create a fillable document template for an existing Microsoft Word document. Use <code>{{Field Name;role=Signer1;type=date}}</code> text tags to define fillable fields in the document. See <a href="https://www.docuseal.com/examples/fieldtags.docx" target="_blank" class="link font-bold" >https://www.docuseal.com/examples/fieldtags.docx</a> for more text tag formats. Or specify the exact pixel coordinates of the document fields using `fields` param.<br><b>Related Guides</b><br><a href="https://www.docuseal.com/guides/use-embedded-text-field-tags-in-the-pdf-to-create-a-fillable-form" class="link">Use embedded text field tags to create a fillable form</a>

        '
      operationId: createTemplateFromDocx
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - documents
              properties:
                name:
                  type: string
                  description: Name of the template.
                  example: Test DOCX
                external_id:
                  type: string
                  description: Your application-specific unique string key to identify this template within your app. Existing template with specified `external_id` will be updated with a new document.
                  example: unique-key
                folder_name:
                  type: string
                  description: The folder's name in which the template should be created.
                shared_link:
                  type: boolean
                  description: Set to `true` to make the template available via a shared link. This will allow anyone with the link to create a submission from this template.
                  default: true
                documents:
                  type: array
                  description: An array of DOCX documents to create a template.
                  items:
                    type: object
                    required:
                    - name
                    - file
                    properties:
                      name:
                        type: string
                        description: Name of the document.
                      file:
                        type: string
                        example: base64
                        format: base64
                        description: Base64-encoded content of the DOCX file or downloadable file URL.
                      dynamic:
                        type: boolean
                        description: Set to `true` to make the document dynamic. When enabled, the DOCX document content can be edited or use [[variables]] in the template editor.
                        default: false
                      fields:
                        description: Fields are optional if you use {{...}} text tags to define fields in the document.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the field.
                            type:
                              type: string
                              description: Type of the field (e.g., text, signature, date, initials).
                              enum:
                              - heading
                              - text
                              - signature
                              - initials
                              - date
                              - number
                              - image
                              - checkbox
                              - multiple
                              - file
                              - radio
                              - select
                              - cells
                              - stamp
                              - payment
                              - phone
                              - verification
                              - kba
                              - strikethrough
                            role:
                              type: string
                              description: Role name of the signer.
                            required:
                              type: boolean
                              description: Indicates if the field is required.
                            title:
                              type: string
                              description: Field title displayed to the user instead of the name, shown on the signing form. Supports Markdown.
                            description:
                              type: string
                              description: Field description displayed on the signing form. Supports Markdown.
                            areas:
                              type: array
                              description: List of areas where the field is located in the document.
                              items:
                                type: object
                                properties:
                                  x:
                                    type: number
                                    description: X-coordinate of the field area.
                                  y:
                                    type: number
                                    description: Y-coordinate of the field area.
                                  w:
                                    type: number
                                    description: Width of the field area.
                                  h:
                                    type: number
                                    description: Height of the field area.
                                  page:
                                    type: integer
                                    description: Page number of the field area. Starts from 1.
                                  option:
                                    type: string
                                    description: Option string value for 'radio' and 'multiple' select field types.
                            options:
                              type: array
                              description: An array of option values for 'select' field type.
                              items:
                                type: string
                              example:
                              - Option A
                              - Option B
                            validation:
                              type: object
                              description: Field validation rules.
                              properties:
                                pattern:
                                  type: string
                                  description: HTML field validation pattern string based on https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/pattern specification.
                                  example: '[A-Z]{4}'
                                message:
                                  type: string
                                  description: A custom error message to display on validation failure.
                                min:
                                  oneOf:
                                  - type: number
                                  - type: string
                                  description: Minimum allowed number value or date depending on field type.
                                max:
                                  oneOf:
                                  - type: number
                                  - type: string
                                  description: Maximum allowed number value or date depending on field type.
                                step:
                                  type: number
                                  description: Increment step for number field. Pass 1 to accept only integers, or 0.01 to accept decimal currency.
                            preferences:
                              type: object
                              description: Field display preferences.
                              properties:
                                font_size:
                                  type: integer
                                  description: Font size of the field value in pixels.
                                  example: 12
                                font_type:
                                  type: string
                                  description: Font type of the field value.
                                  enum:
                                  - bold
                                  - italic
                                  - bold_italic
                                font:
                                  type: string
                                  description: Font family of the field value.
                                  enum:
                                  - Times
                                  - Helvetica
                                  - Courier
                                color:
                                  type: string
                                  description: Font color of the field value.
                                  enum:
                                  - black
                                  - white
                                  - blue
                                  default: black
                                background:
                                  type: string
                                  description: Field box background color.
                                  enum:
                                  - black
                                  - white
                                  - blue
                                align:
                                  type: string
                                  description: Horizontal alignment of the field text value.
                                  enum:
                                  - left
                                  - center
                                  - right
                                  default: left
                                valign:
                                  type: string
                                  description: Vertical alignment of the field text value.
                                  enum:
                                  - top
                                  - center
                                  - bottom
                                  default: center
                                format:
                                  type: string
                                  description: 'The data format for different field types.<br>- Date field: accepts formats such as DD/MM/YYYY (default: MM/DD/YYYY).<br>- Signature field: accepts drawn, typed, drawn_or_typed (default), or upload.<br>- Number field: accepts currency formats such as usd, eur, gbp.'
                                  example: DD/MM/YYYY
                                price:
                                  type: number
                                  description: Price value of the payment field. Only for payment fields.
                                  example: 99.99
                                currency:
                                  type: string
                                  description: Currency value of the payment field. Only for payment fields.
                                  enum:
                                  - USD
                                  - EUR
                                  - GBP
                                  - CAD
                                  - AUD
                                  default: USD
                                mask:
                                  description: Set `true` to make sensitive data masked on the document.
                                  oneOf:
                                  - type: integer
                                  - type: boolean
                                  default: false
                                reasons:
                                  description: An array of signature reasons to choose from.
                                  type: array
                                  items:
                                    type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - name
                - preferences
                - schema
                - fields
                - submitters
                - author_id
                - archived_at
                - created_at
                - updated_at
                - source
                - external_id
                - folder_id
                - folder_name
                - author
                - documents
                properties:
                  id:
                    type: integer
                    description: Unique identifier of the document template.
                  slug:
                    type: string
                    description: Unique slug of the document template.
                  name:
                    type: string
                    description: The name of the template.
                  preferences:
                    type: object
                    description: Template preferences.
                  schema:
                    type: array
                    description: List of documents attached to the template.
                    items:
                      type: object
                      required:
                      - attachment_uuid
                      - name
                      properties:
                        attachment_uuid:
                          type: string
                          description: Unique identifier of attached document to the template.
                        name:
                          type: string
                          description: Name of the attached document to the template.
                  fields:
                    type: array
                    description: List of fields to be filled in the template.
                    items:
                      type: object
                      required:
                      - uuid
                      - submitter_uuid
                      - name
                      - type
                      - required
                      - areas
                      properties:
                        uuid:
                          type: string
                          description: Unique identifier of the field.
                        submitter_uuid:
                          type: string
                          description: Unique identifier of the submitter that filled the field.
                        name:
                          type: string
                          description: Field name.
                        type:
                          type: string
                          description: Type of the field (e.g., text, signature, date, initials).
                          enum:
                          - heading
                          - text
                          - signature
                          - initials
                          - date
                          - number
                          - image
                          - checkbox
                          - multiple
                          - file
                          - radio
                          - select
                          - cells
                          - stamp
                          - payment
                          - phone
                          - verification
                          - kba
                          - strikethrough
                        required:
[...]
